body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

main {
    display: flex;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

#chart-container {
    flex-grow: 1;
    margin-right: 20px;
    position: relative;
    height: 5000px; /* Sesuaikan tinggi widget sesuai kebutuhan */
}

aside {
    width: 350px;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

#add-stock {
    margin-bottom: 10px;
    width: 80%;
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

tbody {
    display: block;
    max-height: 400px;
    overflow-y: auto;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tr:hover {
    background-color: #f1f1f1;
}

#watchlist {
    list-style: none;
    padding: 0;
}

#watchlist li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
